### CLX

CLX ("clicks") provides a collection of RAPIDS examples for security analysts, data scientists, and engineers to quickly get started applying RAPIDS and GPU acceleration to real-world cybersecurity use cases.

The goal of CLX is to:

- Allow cyber data scientists and SecOps teams to generate workflows, using cyber-specific GPU-accelerated primitives and methods, that let them interact with code using security language,
- Make available pre-built use cases that demonstrate CLX and RAPIDS functionality that are ready to use in a Security Operations Center (SOC),
- Accelerate log parsing in a flexible, non-regex method. and
- Provide SIEM integration with GPU compute environments via RAPIDS and effectively extend the SIEM environment.

[GitHub](https://github.com/rapidsai/clx) | [Welcome Notebook](../welcome.ipynb#Cyber-Log-Accelerators)

In [1]:
from blazingsql import BlazingContext

# connect to BlazingSQL w/ BlazingContext API
bc = BlazingContext(pool=False)

BlazingContext ready

In [2]:
import os

# BlazingContext requires full data path
data_path = f'{os.getcwd().split("/intro_notebooks")[0]}/data/karate.csv'

# what's the data's path?
print(f"data_path == '{data_path}'\n")

# create a BlazingSQL table from any file w/ .create_table(table_name, file_path)
bc.create_table('karate', data_path, header=0)

data_path == '/jupyterhub-homes/winston@blazingdb.com/bsql-demos/welcome_notebooks/data/karate.csv'

In [3]:
bc.sql('select * from karate')

       1 0 1.0
0      2 0 1.0
1      3 0 1.0
2      4 0 1.0
3      5 0 1.0
4      6 0 1.0
..         ...
150  30 32 1.0
151  30 33 1.0
152  31 32 1.0
153  31 33 1.0
154  32 33 1.0

[155 rows x 1 columns]