# Environment Sanity Check #

Click the _Runtime_ dropdown at the top of the page, then _Change Runtime Type_ and confirm the instance type is _GPU_.

Check the output of `!nvidia-smi` to make sure you've been allocated a Tesla T4.

#Setup:

1. Install most recent Miniconda release compatible with Google Colab's Python install  (3.6.7)
2. Install RAPIDS libraries
3. Set necessary environment variables
4. Copy RAPIDS .so files into current working directory, a workaround for conda/colab interactions
- **TLDR**
  - Hit `Shift` + `Enter`

In [1]:
# """make sure we have the right GPU
# > column 1 row 3 == Tesla T4
# """
# # display gpu specs
# !nvidia-smi

### Install RAPIDS AI

In [2]:
# !wget -nc https://raw.githubusercontent.com/rapidsai/notebooks-contrib/master/utils/rapids-colab.sh
# # RAPIDS 0.10 nightly
# !bash rapids-colab.sh 

# import sys, os

# sys.path.append('/usr/local/lib/python3.6/site-packages/')
# os.environ['NUMBAPRO_NVVM'] = '/usr/local/cuda/nvvm/lib64/libnvvm.so'
# os.environ['NUMBAPRO_LIBDEVICE'] = '/usr/local/cuda/nvvm/libdevice/'

# Zillow Kaggle Competition on RAPIDS AI
- initially based off eswar3's [Zillow prediction models]( https://github.com/eswar3/Zillow-prediction-models) repo
## Download Data
- to download the data, please plug in your kaggle api username & key
  - you can set up your kaggle api at `https://www.kaggle.com/YOUR USERNAME HERE/account`
  - learn more: https://github.com/Kaggle/kaggle-api#api-credentials

In [3]:
# !pip install kaggle
# !mkdir /root/.kaggle

# # plug api -- get your own API key
# !echo '{"username":"warobson", "key":"0cf106a008ccb1fbdd5c6c4f190bb4b8"}' > /root/.kaggle/kaggle.json
# !chmod 600 /root/.kaggle/kaggle.json

# # !kaggle datasets download
# !kaggle competitions download -c zillow-prize-1

# # unzip kaggle data
# !unzip -q "/content/sample_submission.csv.zip"
# !unzip -q "/content/train_2016_v2.csv.zip"
# !unzip -q "/content/properties_2016.csv.zip"
# !unzip -q "/content/train_2017.csv.zip"
# !unzip -q "/content/properties_2017.csv.zip"

#### How is the data saved?
- inside content directory

In [4]:
# # display content folder contents
# !ls "/content/"

# Imports
### RAPIDS
* `cuDf`
  - words here
* `cuML`
  - words here

In [1]:
# rapids 
import cudf, cuml 
from blazingsql import BlazingContext
bc = BlazingContext(pool=False)

# switch to cupy next update (once docker has it)
import numpy as np

# general 
import os
import seaborn as sns
import matplotlib.pyplot as plt

BlazingContext ready

## Data
* `properties_2016`
  - aprox. 27,000,000 residential properties 
  - 58 attributes each
* `train_2016_v2`
  - 90,000 transaction records for closings in the year 2016
    * Merge datasets on `property_id`

In [2]:
# tag data directory
data_dir = f'{os.getcwd()}/zillow_data'

# import 2016 properties
bc.create_table('prop2016', f'{data_dir}/properties_2016.csv', header=0)
# prop2016 = cudf.read_csv('zillow_data/properties_2016.csv')

# peek display 2016 properties
bc.sql('select * from prop2016').head(3)
# prop2016.head()

,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,decktypeid,...,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock
0,10754147,null,null,null,0.0,0.0,null,null,null,null,...,null,null,null,9.0,2015.0,9.0,null,None,null,null
1,10759547,null,null,null,0.0,0.0,null,null,null,null,...,null,null,null,27516.0,2015.0,27516.0,null,None,null,null
2,10843547,null,null,null,0.0,0.0,null,null,null,null,...,null,null,650756.0,1413387.0,2015.0,762631.0,20800.37,None,null,null

In [3]:
# import train 2016  data
bc.create_table('train2016', f'{data_dir}/train_2016_v2.csv', header=0, parse_dates=["transactiondate"])
# train2016 = cudf.read_csv('zillow_data/train_2016_v2.csv',
#                           parse_dates=["transactiondate"])

# peek display 2016 train
bc.sql('select * from train2016').head(3)
# train2016.head()

   parcelid  logerror transactiondate
0  11016594    0.0276      2016-01-01
1  14366692   -0.1684      2016-01-01
2  12098116   -0.0040      2016-01-01

## [Zillow Prediction Model](https://colab.research.google.com/github/eswar3/Zillow-prediction-models/blob/master/Step%202a-Approach1.ipynb)

    In this approach the properties data and transaction data are merged together before adressing any missing values


#### Merging Data 
 - we will start by merging the two dataframes
  - then rename the new dataframe's attributes to be meaningful 
    - e.g. from `pooltypeid7` to `pool_with_spa_tub_no` and `structuretaxvaluedollarcnt` to `structure_tax`

In [4]:
join_query = '''
             SELECT 
                 p.*,
                 t.logerror, t.transactiondate
             FROM 
                 prop2016 AS p
                 LEFT JOIN 
                     train2016 AS t
                         ON (p.parcelid = t.parcelid)
                         '''

bc.create_table('full_2016', bc.sql(join_query))

In [5]:
# set colums to be renamed for general english understandability 
rename_these = {"bathroomcnt": "total_bath",
                "fullbathcnt": "full_bath",
                "threequarterbathnbr": "half_bath",
                "yardbuildingsqft17": "patio_sqft",
                "yardbuildingsqft26":"storage_sqft",
                "decktypeid": "deck_flag",
                "pooltypeid7": "pool_with_spa_tub_no", 
                "pooltypeid2": "pool_with_spa_tub_yes",
                "hashottuborspa": "has_hottub_or_spa", 
                "pooltypeid10": "just_hottub_or_spa",
                "calculatedfinishedsquarefeet":"total_finished_living_area_sqft", 
                "finishedsquarefeet12": "finished_living_area_sqft",
                "lotsizesquarefeet": "lot_area_sqft",
                "finishedsquarefeet50":"finished_living_area_entryfloor_sqft1",
                "finishedfloor1squarefeet":"finished_living_area_entryfloor_sqft2",
                "finishedsquarefeet6": "base_unfinished_and_finished_area_sqft",
                "finishedsquarefeet15": "total_area_sqft",
                "finishedsquarefeet13": "preimeter_living_area_sqft",
                "taxvaluedollarcnt": "total_parcel_tax",
                "landtaxvaluedollarcnt": "land_tax",
                "taxamount":"total_property_tax_2016",
                "structuretaxvaluedollarcnt":"structure_tax",
                "garagetotalsqft": "garage_sqft",
                "fireplacecnt": "fireplace_count",
                "buildingqualitytypeid ": "building_quality_id",
                "heatingorsystemtypeid": "heating_system_id",
                "airconditioningtypeid": "ac_id",
                "storytypeid": "basement_flag",
                "basementsqft": "basement_sqft",
                "poolsizesum": "pool_sqft",
                "poolcnt": "pool_count"}

# rename columns & add transaction month column
df_train = bc.sql('select * from full_2016').rename(columns=rename_these)

# what's the data frame look like?
df_train.tail()

,parcelid,ac_id,architecturalstyletypeid,basement_sqft,total_bath,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,deck_flag,...,structure_tax,total_parcel_tax,assessmentyear,land_tax,total_property_tax_2016,taxdelinquencyflag,taxdelinquencyyear,censustractandblock,logerror,transactiondate
2985337,12955207,null,null,null,2.0,2.0,null,4.0,2.0,null,...,101648.0,276558.0,2015.0,174910.0,3412.27,None,null,6.037408e+13,null,None
2985338,12955353,null,null,null,2.0,3.0,null,4.0,2.0,null,...,103651.0,140826.0,2015.0,37175.0,1934.40,None,null,6.037408e+13,null,None
2985339,12955522,null,null,null,3.0,4.0,null,4.0,3.0,null,...,138580.0,183554.0,2015.0,44974.0,2399.19,None,null,6.037408e+13,null,None
2985340,12955783,1.0,null,null,3.0,4.0,null,4.0,3.0,null,...,220000.0,403000.0,2015.0,183000.0,4948.95,None,null,6.037408e+13,null,None
2985341,12955837,1.0,null,null,2.0,3.0,null,7.0,2.0,null,...,92906.0,201839.0,2015.0,108933.0,2440.68,None,null,6.037408e+13,null,None

## Conforming Attribute Values
### #0 boolean columns & null = 0s cases 
* `pool_count`, `pool_with_spa_tub_no` and `pool_with_spa_tub_yes` are all binary variables, replace all NULL values with zero
*   `basement_flag` has values 7 & `Null` but is supposed to be bool, convert the `7`s to `1`s and the `Null`s to `0`s 
* patio and shed variables with null values are assumed to have none
* deck_flag has only 2 values, `66` and `null`
  - convert it into binary flag

In [6]:
# replace missing pool count values so we booling
the_bool_club = ['pool_count','pool_with_spa_tub_no','pool_with_spa_tub_yes',
                 'basement_flag','patio_sqft','storage_sqft', 'deck_flag']

for col in the_bool_club:
  # convert null values to 0
  df_train[col]=df_train[col].fillna(0)

# convert 7s and 66s to 1s
df_train['basement_flag'] = df_train['basement_flag'].replace(7, 1)
df_train['deck_flag'] = df_train['deck_flag'].replace(66, 1)

### #1 The pool
*   When pool is present and if it has tub/spa then `just_hottub_or_spa` = 0

In [7]:
print(f'before\n{df_train.just_hottub_or_spa.value_counts()}\n')

# if poolcnt=1 and has_hottub_or_spa=1 and just_hottub_or_spa is null
conditions = ((df_train['pool_count'] == 1) 
              & (df_train['has_hottub_or_spa'] == 1) 
              & (df_train['just_hottub_or_spa'].isna() == True))
# then just_hottub_or_spa = 0
df_train.just_hottub_or_spa.loc[conditions] = 0

print(f'after\n{df_train.just_hottub_or_spa.value_counts()}')

before
1.0    36941
Name: just_hottub_or_spa, dtype: int32

after
1.0    36941
0.0    32075
Name: just_hottub_or_spa, dtype: int32


- when `has_hottub_or_spa` is null and `just_hottub_or_spa` is null
  - both should be zero

In [8]:
# if both has hottub and just hottub are null
conditions = ((df_train['has_hottub_or_spa'].isna() == True) 
              & (df_train['just_hottub_or_spa'].isna() == True))
# just hottub or spa = 0 
df_train.just_hottub_or_spa.loc[conditions] = 0

# now, if has hottub is null and just hottub is 0 
conditions = ((df_train['has_hottub_or_spa'].isna() == True) 
              & (df_train['just_hottub_or_spa'] == 0))
# has hottub or spa = 0 
df_train.has_hottub_or_spa.loc[conditions] = 0

- when there is no pool
  - if there is tub/spa 
    - then `just_hottub_or_spa`  = 1

In [9]:
# when poolcnt=0, has_hottub_or_spa=1
conditions = ((df_train['pool_count'] == 0) 
              & (df_train['has_hottub_or_spa'] == 1))
# just_hottub_or_spa=1
df_train.just_hottub_or_spa.loc[conditions] = 1

# let's check the values
df_train.just_hottub_or_spa.value_counts()

0.0    2948401
1.0      36941
Name: just_hottub_or_spa, dtype: int32

*   When there is no pool, set pool size to zero instead of na

In [10]:
# where there is no pool
conditions = df_train['pool_count']==0
# square footage of non existant pool is 0 
df_train.pool_sqft.loc[conditions] = 0

### #2 The basement
*    Where `basement_flag` is zero, `basement_sqft` should also be zero

In [11]:
# where there is no basement
conditions = df_train['basement_flag'] == 0
# fun fact: we just did this with the pool
df_train.basement_sqft.loc[conditions] = 0

### #3 The fireplace
There seems to be inconsistency between the `fireplace_flag` and `fireplace_count`
- 90,053 flag values are null
- 80,688 `fireplace_count` values are null
    * 9,385 (-11.5%) difference, but a boatload either way

In [12]:
print(f"there are {df_train['fireplace_count'].isna().sum()} fireplace_count \
nulls\nthere are {df_train['fireplaceflag'].isna().sum()} fireplaceflag nulls")

there are 2672695 fireplace_count nulls
there are 2980177 fireplaceflag nulls

* context driven solutions
  * where neither flag nor count exists, `fireplaceflag == False`
  *   when `fireplace_count` is more than zero `fireplaceflag` should be `True`
  * if `fireplaceflag == False`, the `fireplace_count` is logically `0`

In [13]:
# null flags with null counts are zero
conditions = ((df_train['fireplace_count'].isna()==True) 
              & (df_train['fireplaceflag'].isna()==True))
df_train.fireplaceflag.loc[conditions] = False

# true flags for positive fireplace counts
conditions = df_train['fireplace_count'] > 0
df_train.fireplaceflag.loc[conditions] = True

# set fireplace count nulls to 0 where false flags are
conditions = ((df_train['fireplace_count'].isna()==True) 
              & (df_train['fireplaceflag']==False))
df_train.fireplace_count.loc[conditions] = 0

print(f"there are {df_train['fireplace_count'].isna().sum()} fireplace_count \
nulls\nthere are {df_train['fireplaceflag'].isna().sum()} fireplaceflag nulls")

there are 5165 fireplace_count nulls
there are 0 fireplaceflag nulls

### #4 The garage
*   Properties with no garages would have NA values for both

In [14]:
garage = ['garagecarcnt', 'garage_sqft']
# where garage car count and garage square feet are null
conditions = ((df_train['garagecarcnt'].isna()==True) 
              & (df_train['garage_sqft'].isna()==True))
# set both to 0
df_train[garage].loc[conditions] = 0

Exploring the data farther, we see
- `garage_sqft` holds over 8,900 measurements of 0 despite the garage's car count being 1 or more

In [15]:
# show rows where garage count and square feet don't add up
conditions = (df_train.garagecarcnt > 0) & (df_train.garage_sqft == 0)

# give a display
df_train.loc[conditions][garage].head()

     garagecarcnt  garage_sqft
0             1.0          0.0
1             1.0          0.0
2             1.0          0.0
177           1.0          0.0
576           2.0          0.0

- these 0 values need to be null
 - because no garage holding 1 or more cars in 2016 measured 0sqft

In [16]:
# where garage count and square feet don't add up
conditions = (df_train.garagecarcnt>0) & (df_train.garage_sqft==0)
# insert a NaN value
df_train.garage_sqft.loc[conditions] = np.nan

### #5 The bath
*   `total_bath` & `calculatedbathnbr` are near-duplicates w/ `calculated` having more nulls
  - let's drop it
*   if `full_bath` is null and `half_bath` is also null
  - let's make `total_bath` = 0 
      - because we can't truthfully assume it's any more

In [17]:
# drop calculated bath column
df_train = df_train.drop('calculatedbathnbr', axis=1)

# if full_bath is null & half_bath is null
conditions = ((df_train['full_bath'].isnull()==True) 
              & (df_train['half_bath'].isnull()==True) 
              & (df_train['total_bath']==0))
# total_bath=0
df_train.total_bath.loc[conditions] = np.nan

# when full_bath==total_bath, half_bath=0 
df_train.half_bath.loc[df_train.full_bath == df_train.total_bath] = 0

### #6 Mode Imputation 
* scaling down the latitude and longitide
  - knn imput takes more time due to the larger numbers
  - standardizing gives better results on most algorithms
    - this is a competition, we came to win

In [18]:
df_train['latitude'] = df_train.latitude / 100000
df_train['longitude'] = df_train.longitude / 100000

### #7 numberofstories & unitcnt & roomcnt
* we can devise unit count based on property land type
  - so we can now go ahead and correct the unit counts for each given property

In [19]:
# where room count is 0, go ahead and NaN it
df_train.roomcnt.loc[df_train['roomcnt'] == 0] = np.nan

"""
propertylandusetypeid & unitcnt are related 
  these are the propertylandusetypeid codes & their definitions
  
#246 -Duplex (2 Units, Any Combination)
#247 -Triplex (3 Units, Any Combination)
#248 -Quadruplex (4 Units, Any Combination)
#260 -Residential General
#261 -Single Family Residential
#263 -Mobile Home
#264 -Townhouse
#266 -Condominium
#267 -Cooperative
#269 -Planned Unit Development
#275 -Residential Common Area 
#31 - Commercial/Office/Residential Mixed Used
#47 -Store/Office (Mixed Use)
#265 -Cluster Home
"""

# one unit 
ones = [260,261,263,264,266,267,269,275]
for one in ones:
    # adjust conditions to one unit indicator
    conditions = ((df_train['propertylandusetypeid'] == one) 
                  & (df_train['unitcnt'].isna()))
    df_train.unitcnt.loc[conditions] = 1

# two units 
twos = [31,47,246]
for two in twos:
    # adjust conditions to two unit indicator
    conditions = ((df_train['propertylandusetypeid'] == two) 
                  & (df_train['unitcnt'].isna()))
    df_train.unitcnt.loc[conditions] = 2

# three units
conditions = ((df_train['propertylandusetypeid'] == 247) 
              & (df_train['unitcnt'].isna()))
df_train.unitcnt.loc[conditions] = 3

# four units
conditions = ((df_train['propertylandusetypeid'] == 248) 
              & (df_train['unitcnt'].isna()))
df_train.unitcnt.loc[conditions] = 4

# let's see how out unit counts look
df_train.unitcnt.value_counts()

1.0      2757718
2.0       123569
4.0        40765
3.0        40315
5.0          588
          ...
865.0          1
883.0          1
888.0          1
951.0          1
997.0          1
Name: unitcnt, Length: 146, dtype: int32

### #8 Time to Cut
**Because of the adjustments made so far a number of columns are no longer needed**
*  transaction date column is no longer of use
  - and can be dropped 
* `preimeter_living_area_sqft` and `total_finished_living_area_sqft` have the same values 
  - except that `preimeter_living_area_sqft` has more duplicates
* `total_area_sqft` and `total_finished_living_area_sqft` have the same values 
  - except that "total_area_sqft" has more duplicates
* `total_finished_living_area_sqft` and `finished_living_area_sqft` have the same values 
  - except that `finished_living_area_sqft` has more duplicates
* `base_unfinished_and_finished_area_sqft` and `total_finished_living_area_sqft` have the same values 
  - except that `base_unfinished_and_finished_area_sqft` has more duplicates
* different counties follow different land use code
  - to compare different counties, zillow has created it's own `propertylandusetypeid`
    - hence we can drop `propertycountylandusecode`
    - the same applies to `propertyzoningdesc`
* Most zip id's either invalid or out of city
  - since enough information about location is given in latitude and longitude 
    - let's drop other location related fields
      - `regionidcity`
      - `regionidzip`
      - `regionidneighborhood`
* `assessmentyear` has a constant value for all rows
  - let's drop it

In [20]:
print(f"BEFORE: {df_train.shape}")

# collect columns to drop
cut = ['propertyzoningdesc','propertycountylandusecode',
       'base_unfinished_and_finished_area_sqft','finished_living_area_sqft',
       'total_area_sqft','preimeter_living_area_sqft','regionidzip',
       'regionidcity','regionidneighborhood','assessmentyear','transactiondate',
       'censustractandblock']
# cut columns form dataframe
df_train = df_train.drop(cut, axis=1)

print(f"AFTER:  {df_train.shape}")

BEFORE: (2985342, 59)
AFTER:  (2985342, 47)

### #9 Tax, Year, & Census
-  if tax deliquency flag is null, assume there is no unpaid tax on the property
  - an issue arrises here because `taxdelinquencyflag` is a `StringColumn`
    - i.e. null values indicate no tax delinquency, all other values are `Y` for yes
    - because of this, the normal method of..

In [21]:
# how we'd normally take care of this
df_train['taxdelinquencyflag'].fillna(0)

RuntimeError: cuDF failure at: /conda/conda-bld/libcudf_1584344789961/work/cpp/src/replace/replace.cu:885: Data type mismatch

- ...comes with error. 
  - Why?
    - the series we are trying to fill the null values of is a string series
      - because of this `.fillna()` requires a sting value (e.g. '0') instead of an int value (e.g. 0)
  - So, what now?
    - there is an easy and straightforward solution with masked assigning!! 
      - First
        - switch 1 (current True, actual False) to -1
      - Then
        - switch 0 (current False, actual True) to 1 to reflect True status
      - Finally
        - switch -1 (old True, actual False) to 0 to reflect False status

In [ ]:
# if bool 'Y'/None is already set, change string to int bool column via .isna()
df_train['taxdelinquencyflag'] = df_train['taxdelinquencyflag'].isna()

# next we must correct the values, with 1 (True) for 'Y' and 0 for no
switcharoo = [(1,-1),(0,1),(-1,0)]
# switch values in order
for pair in switcharoo:
  # tag old value and new value it will be replaced with
  old, new = pair
  # replace old value with new value
  df_train['taxdelinquencyflag'] = df_train['taxdelinquencyflag'].replace(old, new)
    
# display values in tax delinquency flag column
df_train['taxdelinquencyflag'].value_counts()

- Convert years
  - from yy
    - to 2016 - yyyy

In [ ]:
# no delinquency? set year to 0
df_train.taxdelinquencyyear.loc[df_train.taxdelinquencyflag == 0] = 0

# collect x and xx formatted delinquency years w/ matching xxxx year format pair
year_pairs = [(99,1999), (6,2006), (7,2007), (8,2008), (9,2009), (10,2010),
             (11,2011), (12,2012), (13,2013), (14,2014), (15,2015)]
# go through the pairs individually 
for year in year_pairs:
  # split the pair in question 
  old, new = year
  # replace old year (e.g. 99) with new year (e.g. 1999)
  df_train.taxdelinquencyyear.loc[df_train.taxdelinquencyyear == old] = new

# adjust delinquency year relative to training year (2016) 
df_train.taxdelinquencyyear.loc[df_train.taxdelinquencyyear>0] = 2016 - df_train.taxdelinquencyyear.loc[df_train.taxdelinquencyyear>0]

# what've we got? 
df_train.taxdelinquencyyear.value_counts()

- values in `rawcensustractandblock` represent multiple fields concatened together as float values
  - by converting those values to string we can split each and build new columns:
    - `census_tractnumber`
    - `block_number`

In [ ]:
# ttt=df_train.copy()
df_train=ttt.copy()

# origional column
"""

# both are float columns now
#rawcensustractandblock
s_rawcensustractandblock=df_train.rawcensustractandblock.apply(lambda x: str(x))

df_train['census_tractnumber']=s_rawcensustractandblock.str.slice(4,11)
df_train['block_number']=s_rawcensustractandblock.str.slice(start=11)
df_train['block_number']=df_train['block_number'].apply(lambda x: x[:4]+'.'+x[4:]+'0' )
df_train['block_number']=df_train['block_number'].apply(lambda x: int(round(float(x),0)) )
df_train['block_number']=df_train['block_number'].apply(lambda x: str(x).ljust(4,'0') )

#droping censustractandblock since this is just a duplicate of rawcensustractandblock
df_train=df_train.drop('censustractandblock', axis=1)

# drooping rawcensustractandblock, since it's already stored as substrings in different column names
df_train=df_train.drop('rawcensustractandblock', axis=1)

"""
pass

In [ ]:
# copy rawcensustractandblock with values as string instead of float
string_data = cudf.Series(df_train['rawcensustractandblock'].values_to_string())

# print(type(string_data))
# print(len(string_data))
# print(string_data)

# """
# CURRENT ERROR IN CONVERSION OF VALUES
# """
# print(f"\nNOTE: THERE APPEARS TO BE AN ERROR WHEN CONVERTING TO STRING\n"
#       f"  > somewhat random numbers added to end of some values\n    >> e.g. 004, 006"
#       f"\n\n\ndf_train['rawcensustractandblock'].head(10).values\n"
#       f"{df_train['rawcensustractandblock'].head(10).values}\n\n"
#       f"data.head(10).values\n{string_data.head(10).values}\n\n\n"
#       f"THE SAME NUMBERS OCCOUR IN THE FIRST WHEN PUT INTO A LIST\n"
#       f"  > not sure how to deal with this now\n"
#       f"    >> difficult to reproduce without data\n\n")
# """
# CURRENT ERROR IN CONVERSION OF VALUES
# """

# set new tract number 
df_train['census_tractnumber'] = string_data.str.slice(4, 11)

# set/adjust block number
df_train['block_number'] = string_data.str.slice(11)
df_train['block_number'] = df_train.block_number.str.slice(0,4).str.cat(df_train.block_number.str.slice(4), '.')
df_train['block_number'] = df_train.block_number.astype('float').round(0).astype('int')
df_train['block_number'] = df_train.block_number.astype('str').str.ljust(4, '0')

# drop raw census tract and block column, no longer needed
df_train = df_train.drop('rawcensustractandblock', axis=1)

"""
CORRECT NUMBERS THAT SHOULD BE DISPLAYED BY BELOW PRINT STATEMENT
  > currently not being seen due to prior mentioned error

tractnumber
0    1066.46
1    0524.22
2    4638.00
3    2963.00
4    0423.38
dtype: object

blocknumber
0    1001
1    2024
2    3004
3    2002
4    1006
dtype: object
"""
df_train[['census_tractnumber', 'block_number']].head()

## Dealing with Missing Values
### #1 Setting standards
- Despite corecting and adjusting the data to this point, there are still some columns holding a large majority of null values
- For some columns, this majority represents over 95% of values
  - Let's identify those columns
    - And drop columns with more than 95% null values

In [ ]:
# calculate null value % for each column & frame it
missingvalues_prop = (df_train.isnull().sum()/len(df_train)).reset_index()
missingvalues_prop.columns = ['field','percentage']

# sort by null values percentage, from highest % to lowest
missingvalues_prop = missingvalues_prop.sort_values(by='percentage', 
                                                    ascending=False)
# identify columns with > 95% of values null
missingvaluescols = missingvalues_prop.loc[missingvalues_prop['percentage'] > 0.95]

# display columns with highest % null values
print(missingvaluescols)

# drop columns with more than 95% null values
df_train = df_train.drop(missingvaluescols['field'], axis=1)

### #2 Working with Remaining Values
- the majority of values still missing in unitcnt are rows were `propertylandusetypeid` = 265, 
  - which is Cluster Home (i.e. group of houses with shared walls)
    - each cluster is anywhere between 5 to 25 units
      - here we will asssume 10 units as reassonable count

In [ ]:
# highly related propertylandusetypeid
df_train['unitcnt'].loc[df_train['propertylandusetypeid'] == 265] = 10

# let's see what we've got
df_train['unitcnt'].value_counts()

- a number of pool sizes are null despite there being a pool
  - let's calculate the average pool size
    - and assume those null values are pools of average size

In [ ]:
# how's it look before?
print(df_train.pool_sqft.isna().sum())

# calculate the average pool square footage for properties with a pool(s)
poolsizesum_mean = df_train.pool_sqft.loc[df_train['pool_count'] > 0].mean()

# where the property has a pool(s) but pool square feet is 0
conditions = ((df_train['pool_count'] > 0) 
              & (df_train['pool_sqft'].isna()==True))

# set pool square feet to the average pool square footage of pool properties
df_train['pool_sqft'].loc[conditions] = poolsizesum_mean

# display new null count
df_train.pool_sqft.isna().sum()

- total parcel tax
- structure tax
- land tax

In [ ]:
# how many rows have values in total parcel tax that do not add up given land tax and structure tax
len(df_train.loc[df_train['total_parcel_tax'] != df_train['land_tax'] + df_train['structure_tax']])

In [ ]:
print(df_train.total_property_tax_2016.isnull().sum())
print(df_train.structure_tax.isnull().sum())
print(df_train.total_parcel_tax.isnull().sum())
print(df_train.land_tax.isnull().sum())
print()

# where land tax is not a null value
condition_1 = df_train.land_tax.isnull() == False
# where total parceltax is not a null value
condition_2 = df_train.total_parcel_tax.isnull()==False

# pull the total parcel tax column
total_parcel_tax_not_null = df_train.loc[condition_1 & condition_2, 'total_parcel_tax']
# pull the land tax column
land_tax_not_null = df_train.loc[condition_1 & condition_2, 'land_tax']

# total_parcel_tax = structure_tax + land_tax
# -> structure_tax = total_parcel_tax - land_tax
correct_structure_tax = total_parcel_tax_not_null - land_tax_not_null

# set the structure_tax values in rows where total and land taxes are not null to these correct values 
df_train['structure_tax'].loc[condition_1 & condition_2] = correct_structure_tax

# where structure tax is still 0, there isn't structure tax
df_train['structure_tax'].loc[df_train['structure_tax'] == 0] = np.nan

print(df_train.total_property_tax_2016.isnull().sum())
print(df_train.structure_tax.isnull().sum())
print(df_train.total_parcel_tax.isnull().sum())
print(df_train.land_tax.isnull().sum())

In [ ]:
# how many rows have values in total parcel tax that do not add up given land tax and structure tax
len(df_train.loc[df_train['total_parcel_tax'] != df_train['land_tax'] + df_train['structure_tax']])

In [ ]:
# regionidcounty is exact copy of fips code, dropping the dulicate column
df_train = df_train.drop(['regionidcounty'], axis=1)
df_train.shape

In [ ]:
#*******************************
#bedroomcnt #1421 zero bed room houses ??, observed it's missing all other room count also missing
# where there is no bedroom, null is a better representation 

# before
print(len(df_train['bedroomcnt'].loc[df_train['bedroomcnt'] == 0]))
print(df_train.bedroomcnt.isnull().sum())

df_train['bedroomcnt'].loc[df_train['bedroomcnt'] == 0] = np.nan

# after
print(len(df_train['bedroomcnt'].loc[df_train['bedroomcnt'] == 0]))
print(df_train.bedroomcnt.isnull().sum())

#### Room Count
caluculate full bath and half bath again from total bath as it has few extra columns (fixes 500 missing values in roomcnt)

In [ ]:
# propertylandusetypeid & total living area
#                              total_bath           1165
#                              full_bath           1182
#                              half_bath           1182
#                                bedroomcnt      1421
#                              roomcnt           1416

print(df_train.total_bath.isna().sum())
print(df_train.full_bath.isnull().sum())
print(df_train.half_bath.isnull().sum())
print(df_train.bedroomcnt.isnull().sum())
print(df_train.roomcnt.isnull().sum())
print()

# roomcnt = (full_bath + half_bath) + bedroomcnt
# total_bath = fullbath+ 0.5(half_bath)

# where full & half bath and bedroom count are not null, but room count is null
conditions = ((df_train['full_bath'].isna() == False) 
              & (df_train['half_bath'].isna() == False) 
              & (df_train['bedroomcnt'].isna() == False) 
              & (df_train['roomcnt'].isna() == True))

# calculate room count including all full & half baths along with bedroom count
new_values = df_train.full_bath.loc[conditions] + df_train.half_bath.loc[conditions] + df_train.bedroomcnt.loc[conditions]

# df_train['roomcnt'] = df_train['roomcnt'].masked_assign(new_values, conditions)
df_train.roomcnt.loc[conditions] = new_values


# most bedroom count and roomcount null are in same place
# all column null count 1133 all columns are null

print(df_train.total_bath.isna().sum())
print(df_train.full_bath.isnull().sum())
print(df_train.half_bath.isnull().sum())
print(df_train.bedroomcnt.isnull().sum())
print(df_train.roomcnt.isnull().sum())

- correct number of stories by Zillow's `propertylandusetypeid` indicator
  - where null values are not
    - number of stories can be set to mode
  - where there are null values
    - number of stories can be set to the generally accepted number of stories

In [ ]:
# before (what's it look like?)
print(f'BEFORE\n{df_train.numberofstories.value_counts()}\n'
      f'{df_train.numberofstories.isnull().sum()} remaining null values\n')

#numberofstories	69705

# store ids and general number of stories 
zillow_type_ids = [(31,2), (246,2), (247,2), (248,2), (260,2), (261,1), 
                   (263,1), (266,1), (267,1), (269, 2), (275,1)]

# go through each id pair 
for type_id in zillow_type_ids:
    # split the pair into type id and number of stories
    t_id, n_stories = type_id

    # when type id matches and story count is not null
    conditions = ((df_train['propertylandusetypeid'] == t_id) 
                  & (df_train['numberofstories'].isna() == False))

    # calculate the mode story count for matching id properties
    mode_stories = df_train.numberofstories.loc[conditions].value_counts()
    
    # when there is at least one value in the value_counts of this property type
    if len(mode_stories) > 0:
        # set mode stories to the most popular value
        mode_stories = mode_stories[0]
    # otherwise
    else:
        # set mode stories to the general average for this property type
        mode_stories = n_stories

    # and set those non null values to the most common value seen
    df_train['numberofstories'].loc[conditions] = mode_stories

    # when type id matches and story count is null
    conditions = ((df_train['propertylandusetypeid'] == t_id) 
                  & (df_train['numberofstories'].isna() == False))
    # set null values to the common number of stories seen in that type id
    df_train['numberofstories'].loc[conditions] = n_stories

# edge cases
conditions = ((df_train.propertylandusetypeid==264) 
              & (df_train.numberofstories.isnull()))
df_train.numberofstories.loc[conditions] = 2

# what's it looking like? 
print(f'AFTER\n{df_train.numberofstories.value_counts()}\n'
      f'{df_train.numberofstories.isnull().sum()} remaining null values')

In [ ]:
# before (what's it looking like?) 
print(f'BEFORE\n{df_train.fireplace_count.value_counts()}\n'
      f'{df_train.fireplace_count.isnull().sum()} remaining null values\n')

# where there is a fire place, and count is not null
conditions = ((df_train.fireplaceflag==1) 
              & (df_train.fireplace_count.isna() == False))
# calculate the mode fireplace count 
mode_fire_count = df_train.loc[conditions, 'fireplace_count'].value_counts()[0]
# and set those non null values to the most common fireplace count
df_train['fireplace_count'].loc[conditions] = mode_fire_count

# where there is a fire place, and count is null
conditions = ((df_train.fireplaceflag==1) 
              & (df_train.fireplace_count.isna() == True))
# set null values to the most common fireplace count
df_train.fireplace_count.loc[conditions] = 1

# after
print(f'AFTER\n{df_train.fireplace_count.value_counts()}\n'
      f'{df_train.fireplace_count.isnull().sum()} remaining null values')

In [ ]:
# set basic sns 
color = sns.color_palette()
sns.set(style="darkgrid")
# convert dataframe to pandas for ease of use with sns
pd_train = df_train.to_pandas()
# set ax plot
ax = sns.countplot(x="buildingqualitytypeid", data=pd_train)
# adjust fringe aesthetics
plt.xticks(rotation='vertical')
plt.title("Frequency of Bathroom count", fontsize=15)
# display the graph
plt.show()

In [ ]:
# let's look more into year built vs type 
plt.plot(pd_train.yearbuilt, pd_train.buildingqualitytypeid, 'ro')
# display the graph
plt.show()

### Final adjustments
- filling nans

# -----current: test ready-----
- converting to pandas 
  - to see what's going on
    - figuring out what can and what can't be replicated in cuML

In [ ]:
from sklearn import neighbors
# from cuml.preprocessing.model_selection import train_test_split
from sklearn.model_selection import StratifiedKFold,GridSearchCV,train_test_split
#location seems to be related to building quality, (knnclassifier)

def fillna_knn(df, base, target):
    data_colnames = [target] + base
    #print("data_colnames",data_colnames)
    missing_values_boolflag = df[target].isnull() #true for missing rows, false for columns with values
    #print("miss",missing_values_boolflag.head())
    not_missing_boolflag = ~missing_values_boolflag 
    #print("not miss",not_missing_boolflag.head())
    number_of_missing_val = missing_values_boolflag.sum()
    print("# of miss",number_of_missing_val)
    not_missing_rows = df.loc[not_missing_boolflag, data_colnames]
    #print(not_missing_rows.head())
    Y = not_missing_rows[target]
    X = not_missing_rows[base]
    X_train, X_test, Y_train, Y_test = train_test_split(X, Y, 
                                                        test_size=0.20,
                                                        random_state=3192,
                                                        stratify=Y)
    metrics       = ['euclidean'] 
    weights       = ['distance'] 
    numNeighbors  = [5,10,15,20,25]
    param_grid    = dict(metric=metrics,weights=weights,n_neighbors=numNeighbors)
    cv            = StratifiedKFold(n_splits=3,random_state=3192,shuffle=False)
    grid = GridSearchCV(neighbors.KNeighborsClassifier(n_jobs=-1),param_grid=param_grid,cv=cv,scoring='f1_weighted',refit=True,return_train_score=True,verbose=1,n_jobs=-1,pre_dispatch='n_jobs')
    grid.fit(X_train ,Y_train)
    #print("grid.cv_results_",grid.cv_results_)
    print("grid.best_estimator_",grid.best_estimator_)
    print("grid.best_params_",grid.best_params_)
    print("grid.scorer_",grid.scorer_)
    #print("grid.n_splits_",grid.n_splits_)
    y_true, y_pred = Y_test, grid.predict(X_test)
    
    Z = grid.predict(df.loc[missing_values_boolflag, base])
    #df.loc[ missing_values_boolflag, target ]  = Z
    return Z

In [ ]:
print('CURRENT DF SITUATION\n')

print(f'SHAPE = {df_train.shape}')
print(f'NULL COUNT = {df_train.buildingqualitytypeid.isnull().sum()}\nVALUE COUNTS\n{df_train.buildingqualitytypeid.value_counts()}\n')

df_train['buildingqualitytypeid'].head()

In [ ]:
df_train['buildingqualitytypeid'] = df_train['buildingqualitytypeid'].fillna(-1)

print(f'NULL COUNT = {df_train.buildingqualitytypeid.isnull().sum()}\nVALUE COUNTS\n{df_train.buildingqualitytypeid.value_counts()}')

# -----current: break-----
- break 1 of 2

In [ ]:
# make safe copy
test = df_train.copy()
df_train = test.copy()
# switch to pandas (figuring out what's going on)
df_train = df_train.to_pandas()

print(df_train.info())

In [ ]:
# say we run this whole thing by buildingqualitytypeid
# drop building types that aren't seen at least 3 times in the data
# df_train = df_train.groupby("buildingqualitytypeid").filter(lambda x: x.buildingqualitytypeid.size > 3)

# BACK TO cuDF
df_train = cudf.from_pandas(df_train)

print(df_train.buildingqualitytypeid.value_counts())
print()
print(df_train.buildingqualitytypeid.isnull().sum())
print(df_train.shape)
print()

type_ids = list(set(df_train.buildingqualitytypeid.values))
from time import sleep
safe = []
for tid in type_ids:
  print(tid)
  sleep(5)
  t = len(df_train.loc[df_train.buildingqualitytypeid == tid])
  if t > 3:
    safe.append(tid)
  else:
    print(f'{tid} count too low @ {t}')
for tid in type_ids:
  if tid not in safe:
    df_train = df_train.loc[df_train.buildingqualitytypeid != tid]

print()
print(df_train.buildingqualitytypeid.value_counts())
print()

df_train['buildingqualitytypeid'] = df_train['buildingqualitytypeid'].replace(-1,np.nan)
print(df_train.buildingqualitytypeid.isnull().sum())
print(df_train.shape)

# BACK TO PANDAS
df_train = df_train.to_pandas()

# -----current: break-----
- break 2 of 2
  - below is last cell run

In [ ]:
# run cell above (currently broken) as would be in pandas
not_df_train = df_train.to_pandas()
not_df_train = not_df_train.groupby("buildingqualitytypeid").filter(lambda x: x.buildingqualitytypeid.size > 3)

missing_values = fillna_knn(not_df_train, 
                            base = ['latitude', 'longitude'], 
                            target = 'buildingqualitytypeid')

print("predicted output shape",missing_values.shape)
missing_values_boolflag = not_df_train['buildingqualitytypeid'].isnull()
not_df_train.loc[missing_values_boolflag, 'buildingqualitytypeid'] = missing_values

print(not_df_train.buildingqualitytypeid.isnull().sum())

# BELOW NOT (really) RUN
- if run, was in pandas

In [ ]:
print(df_train.heating_system_id.isnull().sum())
print(df_train.shape)
temp=df_train.copy()
temp['heating_system_id']=temp['heating_system_id'].fillna(-1)
temp=temp.groupby("heating_system_id").filter(lambda x: x.heating_system_id.size > 3)
temp['heating_system_id'] = temp['heating_system_id'].replace(-1,np.nan)
print(temp.heating_system_id.isnull().sum())
print(temp.shape)

missing_values=fillna_knn(temp,
                  base = [ 'latitude', 'longitude' ] ,
                  target = 'heating_system_id')

print("predicted output shape",missing_values.shape)
missing_values_boolflag = df_train['heating_system_id'].isnull()
df_train.loc[ missing_values_boolflag, 'heating_system_id' ]  = missing_values


print(df_train.heating_system_id.isnull().sum())

In [ ]:
print(df_train.ac_id.isnull().sum())
print(df_train.shape)
temp=df_train.copy()
temp['ac_id']=temp['ac_id'].fillna(-1)
temp=temp.groupby("ac_id").filter(lambda x: x.ac_id.size > 3)
temp['ac_id'] = temp['ac_id'].replace(-1,np.nan)
print(temp.ac_id.isnull().sum())
print(temp.shape)

missing_values=fillna_knn(temp,
                  base = [ 'latitude', 'longitude' ] ,
                  target = 'ac_id')

print("predicted output shape",missing_values.shape)
missing_values_boolflag = df_train['ac_id'].isnull()
df_train.loc[ missing_values_boolflag, 'ac_id' ]  = missing_values

print(df_train.ac_id.isnull().sum())

In [ ]:
#yearbuilt
print(df_train.yearbuilt.isnull().sum())
print(df_train.shape)
temp=df_train.copy()
temp['yearbuilt']=temp['yearbuilt'].fillna(-1)
temp=temp.groupby("yearbuilt").filter(lambda x: x.yearbuilt.size > 3)
temp['yearbuilt'] = temp['yearbuilt'].replace(-1,np.nan)
print(temp.yearbuilt.isnull().sum())
print(temp.shape)

missing_values=fillna_knn(temp,
                  base = [ 'latitude', 'longitude','buildingqualitytypeid','propertylandusetypeid' ] ,
                  target = 'yearbuilt')

print("predicted output shape",missing_values.shape)
missing_values_boolflag = df_train['yearbuilt'].isnull()
df_train.loc[ missing_values_boolflag, 'yearbuilt' ]  = missing_values
print(df_train.yearbuilt.isnull().sum())

In [ ]:
#location seems to be related to building quality, (knnregressor)
from sklearn.model_selection import KFold

def fillna_knnr( df, base, target):
    data_colnames = [ target ] + base
    #print("data_colnames",data_colnames)
    missing_values_boolflag = df[target].isnull() #true for missing rows, false for columns with values
    #print("miss",missing_values_boolflag.head())
    not_missing_boolflag = ~missing_values_boolflag 
    #print("not miss",not_missing_boolflag.head())
    number_of_missing_val = missing_values_boolflag.sum()
    print("# of miss",number_of_missing_val)
    not_missing_rows = df.loc[ not_missing_boolflag, data_colnames]
    #print(not_missing_rows.head())
    Y = not_missing_rows[target]
    X = not_missing_rows[base]
    X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.20, random_state=3192)
    metrics       = ['euclidean'] 
    weights       = ['distance'] 
    numNeighbors  = [5,10,15,20,25]
    param_grid    = dict(metric=metrics,weights=weights,n_neighbors=numNeighbors)
    cv            = KFold(n_splits=3,random_state=3192,shuffle=False) 
    grid = GridSearchCV(neighbors.KNeighborsRegressor(n_jobs=-1),param_grid=param_grid,cv=cv,scoring='neg_mean_absolute_error',refit=True,return_train_score=True,verbose=1,n_jobs=-1,pre_dispatch='n_jobs')
    grid.fit(X_train ,Y_train)
    #print("grid.cv_results_",grid.cv_results_)
    print("grid.best_estimator_",grid.best_estimator_)
    print("grid.best_params_",grid.best_params_)
    print("grid.scorer_",grid.scorer_)
    #print("grid.n_splits_",grid.n_splits_)
    y_true, y_pred = Y_test, grid.predict(X_test) 
    Z = grid.predict(df.loc[missing_values_boolflag, base])
    #df.loc[ missing_values_boolflag, target ]  = Z
    return Z

In [ ]:
#garage_sqft
print(df_train.garage_sqft.isnull().sum())
print(df_train.shape)
temp=df_train.loc[df_train.garagecarcnt>0,df_train.columns].copy()

print(temp.garage_sqft.isnull().sum())
print(temp.shape)

missing_values=fillna_knnr(temp,
                  base = [ 'latitude', 'longitude','garagecarcnt'] ,
                  target = 'garage_sqft')

print("predicted output shape",missing_values.shape)
missing_values_boolflag = df_train['garage_sqft'].isnull()
df_train.loc[missing_values_boolflag, 'garage_sqft'] = missing_values
print(df_train.garage_sqft.isnull().sum())

In [ ]:
df_train = df_train.drop('parcelid', axis=1)

In [ ]:
#All the other columns with missing values seems to be  integer, will need regression to be imputed,
#time to get categorical variables hot encoded

#Identify numerical columns to produce a heatmap
catcols = ['ac_id','buildingqualitytypeid','deck_flag','fips', 'heating_system_id','has_hottub_or_spa',
          'just_hottub_or_spa', 'pool_with_spa_tub_yes','pool_with_spa_tub_no','propertylandusetypeid','basement_flag'
          ,'fireplaceflag','taxdelinquencyflag']
numcols = [x for x in df_train.columns if x not in catcols]

In [ ]:
#total_finished_living_area_sqft

print(df_train.total_finished_living_area_sqft.isnull().sum())
print(df_train.shape)
temp=df_train.copy()
print(temp.total_finished_living_area_sqft.isnull().sum())
print(temp.shape)
missing_values=fillna_knnr(temp,
                  base = [ 'latitude', 'longitude','basementsqft','numberofstories','poolcnt','garagecarcnt','garage_sqft','propertylandusetypeid'] ,
                  target = 'total_finished_living_area_sqft')

print("predicted output shape",missing_values.shape)
missing_values_boolflag = df_train['total_finished_living_area_sqft'].isnull()
df_train.loc[ missing_values_boolflag, 'total_finished_living_area_sqft' ] = missing_values
print(df_train.total_finished_living_area_sqft.isnull().sum())

In [ ]:
#total_bath	1165
#full_bath	1182
#half_bath	1182
#roomcnt	1416
#bedroomcnt	1421

#total_finished_living_area_sqft

print(df_train.total_bath.isnull().sum())
print(df_train.shape)
temp=df_train.copy()
print(temp.total_bath.isnull().sum())
print(temp.shape)
missing_values=fillna_knnr(temp,
                  base = ['propertylandusetypeid','total_finished_living_area_sqft' ] ,
                  target = 'total_bath')

print("predicted output shape",missing_values.shape)
missing_values_boolflag = df_train['total_bath'].isnull()
df_train.loc[ missing_values_boolflag, 'total_bath' ] = missing_values
print(df_train.total_bath.isnull().sum())#total_bath	1165
#full_bath	1182
#half_bath	1182
#roomcnt	1416
#bedroomcnt	1421

#total_finished_living_area_sqft

print(df_train.total_bath.isnull().sum())
print(df_train.shape)
temp=df_train.copy()
print(temp.total_bath.isnull().sum())
print(temp.shape)
missing_values=fillna_knnr(temp,
                  base = ['propertylandusetypeid','total_finished_living_area_sqft' ] ,
                  target = 'total_bath')

print("predicted output shape",missing_values.shape)
missing_values_boolflag = df_train['total_bath'].isnull()
df_train.loc[ missing_values_boolflag, 'total_bath' ] = missing_values
print(df_train.total_bath.isnull().sum())

In [ ]:
# rop half_bath and full bath, as there are only redundant values of total_bath
df_train = df_train.drop(['full_bath','half_bath'], axis=1)

In [ ]:
#bedroomcnt	1421

print(df_train.bedroomcnt.isnull().sum())
print(df_train.shape)
temp=df_train.copy()
print(temp.bedroomcnt.isnull().sum())
print(temp.shape)
missing_values=fillna_knnr(temp,
                  base = ['propertylandusetypeid','total_finished_living_area_sqft','total_bath' ] ,
                  target = 'bedroomcnt')

print("predicted output shape",missing_values.shape)
missing_values_boolflag = df_train['bedroomcnt'].isnull()
df_train.loc[ missing_values_boolflag, 'bedroomcnt' ] = missing_values
print(df_train.bedroomcnt.isnull().sum())

In [ ]:
df_train['total_bath']=df_train.total_bath.round(1)
df_train['bedroomcnt']=df_train.bedroomcnt.round(1)

In [ ]:
#recalculate roomcnt	1416 as we have used imputation for total_bath and bedroomcnt

df_train.loc[(df_train.roomcnt.isnull()),['roomcnt']]=df_train.total_bath + df_train.bedroomcnt

In [ ]:
print(df_train.shape)
df_train =df_train.loc[(df_train.total_parcel_tax.notnull()) & (df_train.land_tax.notnull()),df_train.columns]

print(df_train.shape)

In [ ]:
#lot_area_sqft
print(df_train.lot_area_sqft.isnull().sum())
print(df_train.shape)
temp=df_train.copy()
print(temp.lot_area_sqft.isnull().sum())
print(temp.shape)
missing_values=fillna_knnr(temp,
                  base = ['latitude','longitude','propertylandusetypeid','total_finished_living_area_sqft','roomcnt','numberofstories' ] ,
                  target = 'lot_area_sqft')

print("predicted output shape",missing_values.shape)
missing_values_boolflag = df_train['lot_area_sqft'].isnull()
df_train.loc[ missing_values_boolflag, 'lot_area_sqft' ] = missing_values.round(2)
print(df_train.lot_area_sqft.isnull().sum())

In [ ]:
# predict structure_tax and recalculate  total_parcel_tax = land_tax + structure_tax


print(df_train.structure_tax.isnull().sum())
print(df_train.shape)
temp=df_train.copy()
print(temp.structure_tax.isnull().sum())
print(temp.shape)
missing_values=fillna_knnr(temp,
                  base = ['latitude','longitude','lot_area_sqft','propertylandusetypeid','total_finished_living_area_sqft','roomcnt','numberofstories' ] ,
                  target = 'structure_tax')

print("predicted output shape",missing_values.shape)
missing_values_boolflag = df_train['structure_tax'].isnull()
df_train.loc[ missing_values_boolflag, 'structure_tax' ] = missing_values.round(2)
print(df_train.structure_tax.isnull().sum())

In [ ]:
#36 total_property_tax_2016 

#total_parcel_tax = land_tax + structure_tax
    
df_train['total_parcel_tax']=df_train['structure_tax']+df_train['land_tax']

In [ ]:
#age of the property
df_train['age'] = 2016 - df_train['yearbuilt']
df_train=df_train.drop(['yearbuilt'],axis=1)

In [ ]:
#total_property_tax_2016


print(df_train.total_property_tax_2016.isnull().sum())
print(df_train.shape)
temp=df_train.copy()
print(temp.total_property_tax_2016.isnull().sum())
print(temp.shape)
missing_values=fillna_knnr(temp,
                  base = ['latitude','longitude','lot_area_sqft','propertylandusetypeid','total_finished_living_area_sqft','roomcnt','numberofstories' ] ,
                  target = 'total_property_tax_2016')

print("predicted output shape",missing_values.shape)
missing_values_boolflag = df_train['total_property_tax_2016'].isnull()
df_train.loc[ missing_values_boolflag, 'total_property_tax_2016' ] = missing_values.round(2)
print(df_train.total_property_tax_2016.isnull().sum())

In [ ]:
#check missing values

missing_df = df_train.isnull().sum(axis=0).reset_index()
missing_df.columns = ['column_name', 'missing_count']
missing_df = missing_df.loc[missing_df['missing_count']>0]
missing_df = missing_df.sort_values(by='missing_count')
print(missing_df)
print(missing_df.shape)

In [ ]:
#both the columns above miss 92% of the data, there is no related varibale to impute it, hence dropping them at this point

df_train = df_train.drop(['finished_living_area_entryfloor_sqft2','finished_living_area_entryfloor_sqft1'], axis=1)

In [ ]:
#Identify numerical columns to produce a heatmap
catcols = ['ac_id','buildingqualitytypeid','deck_flag','fips','pool_with_spa_tub_no','pool_with_spa_tub_yes','has_hottub_or_spa',
           'just_hottub_or_spa','heating_system_id','propertylandusetypeid','basement_flag','fireplaceflag','taxdelinquencyflag']
numcols = [x for x in df_train.columns if x not in catcols]

In [ ]:
# 2 variables are in object datatype, coverting into numeric
df_train[['census_tractnumber','block_number']] = df_train[['census_tractnumber','block_number']].apply(pd.to_numeric)

In [ ]:
# dropping categorical columns as xgboost feature selection cannot hadle it

train_x = df_train.drop(catcols+['logerror'], axis=1)

train_y=df_train['logerror']

train_x = train_x.astype(float) 
train_y = train_y.astype(float)

In [ ]:
pd.options.display.max_rows = 65

dtype_df = train_x.dtypes.reset_index()
dtype_df.columns = ["Count", "Column Type"]
#dtype_df

In [ ]:
df_train.loc[df_train.has_hottub_or_spa==True,'has_hottub_or_spa']="Yes"
df_train.loc[df_train.has_hottub_or_spa==0,'has_hottub_or_spa']="No"

df_train.loc[df_train.just_hottub_or_spa==0,'just_hottub_or_spa']="No"
df_train.loc[df_train.just_hottub_or_spa==1,'just_hottub_or_spa']="Yes"

df_train.loc[df_train.deck_flag==0,'deck_flag']="No"
df_train.loc[df_train.deck_flag==1,'deck_flag']="Yes"

df_train.loc[df_train.basement_flag==0,'basement_flag']="No"
df_train.loc[df_train.basement_flag==1,'basement_flag']="Yes"

df_train.loc[df_train.fireplaceflag==False,'fireplaceflag']="No"
df_train.loc[df_train.fireplaceflag==True,'fireplaceflag']="Yes"
#

In [ ]:
#ac_id,heating_system_id,propertylandusetypeid
dummieslist=['has_hottub_or_spa','just_hottub_or_spa',
             'deck_flag','fips','basement_flag','fireplaceflag','taxdelinquencyflag']

In [ ]:
df_train[dummieslist] = df_train[dummieslist].astype(object)
dummies = pd.get_dummies(df_train[dummieslist], prefix= dummieslist)
dummies.shape

In [ ]:
dummies2=['pool_with_spa_tub_no','pool_with_spa_tub_yes']
df_train[dummies2] = df_train[dummies2].astype(int)

In [ ]:
import MySQLdb
from sqlalchemy import create_engine
engineString = 'mysql+mysqldb://root:MyNewPass@localhost/sakila'
engine = create_engine(engineString)
con=engine.connect()

with engine.connect() as con, con.begin():
    df_train.to_sql('df_train_f1', engine, chunksize=10000, index =False,if_exists ='replace')

In [ ]:
numcols2=['basementsqft','total_bath','bedroomcnt','total_finished_living_area_sqft','fireplace_count','garagecarcnt',
 'garage_sqft','latitude','longitude','lot_area_sqft','poolcnt','pool_sqft','roomcnt','unitcnt','patio_sqft','storage_sqft',
 'numberofstories','structure_tax','total_parcel_tax','land_tax','total_property_tax_2016','taxdelinquencyyear','transaction_month',
 'census_tractnumber','block_number','age']

In [ ]:
Y=df_train['logerror']

In [ ]:
#buildingqualitytypeid ->has order
le = LabelEncoder()
df_train['buildingqualitytypeid']=le.fit_transform(df_train.buildingqualitytypeid)

In [ ]:
#df_train.ac_id.value_counts()
#df_train.propertylandusetypeid.value_counts()
#'buildingqualitytypeid','ac_id','heating_system_id','propertylandusetypeid'

In [ ]:
X=pd.concat([dummies,df_train[dummies2],df_train[numcols2],df_train[['buildingqualitytypeid','ac_id','heating_system_id','propertylandusetypeid']]],axis=1)
X.shape

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.10, random_state=3192)

In [ ]:
#  top features
import xgboost as xgb
xgb_params = {
    'eta': 0.05,
    'max_depth': 8,
    'subsample': 0.7,
    'colsample_bytree': 0.7,
    'objective': 'reg:linear',
    'silent': 1,
    'seed' : 0
}
dtrain = xgb.DMatrix(X_train, Y_train, feature_names=X_train.columns.values)
model = xgb.train(dict(xgb_params, silent=0), dtrain, num_boost_round=50)
# plot the important features #
fig, ax = plt.subplots(figsize=(12,18))
#max_num_features=50, error for no reason 
xgb.plot_importance(model, height=0.8, ax=ax)
plt.show()

In [ ]:
#top features
xgboost_selection=['total_finished_living_area_sqft','latitude','structure_tax','total_property_tax_2016',
'total_parcel_tax','land_tax','longitude','lot_area_sqft','census_tractnumber','age','total_bath','bedroomcnt',
'block_number','transaction_month','roomcnt','taxdelinquencyyear','unitcnt','taxdelinquencyflag_No',
'fips_LA','garage_sqft','pool_with_spa_tub_no','has_hottub_or_spa_No','garagecarcnt','deck_flag_No',
'poolcnt','pool_sqft'
]

In [ ]:
# feature selection
#c_id,heating_system_id,propertylandusetypeid
from sklearn.ensemble import ExtraTreesRegressor
from sklearn.feature_selection import SelectFromModel
reg = ExtraTreesRegressor(n_estimators=500, max_depth=8, max_features='sqrt',
                          min_samples_split=100 ,min_samples_leaf=10, bootstrap=True,n_jobs=-1, random_state=3192)
reg = reg.fit(X_train, Y_train)
#print("importance",reg.feature_importances_) 
model = SelectFromModel(reg, prefit=True)
X_new = model.transform(X_train)
print(X_train.shape)
print(X_new.shape)  

feat_names = X.columns.values
importances = reg.feature_importances_
std = np.std([tree.feature_importances_ for tree in reg.estimators_], axis=0)
indices = np.argsort(importances)[::-1][:26]
plt.figure(figsize=(12,12))
plt.title("Feature importances")
plt.bar(range(len(indices)), importances[indices], color="r", yerr=std[indices], align="center")
plt.xticks(range(len(indices)), feat_names[indices], rotation='vertical')
plt.xlim([-1, len(indices)])
plt.show()

In [ ]:
tree_selection=[
    'total_finished_living_area_sqft','structure_tax','total_property_tax_2016','total_bath','total_parcel_tax',
    'age','latitude','census_tractnumber','bedroomcnt','longitude','land_tax','propertylandusetypeid','block_number',
    'buildingqualitytypeid','numberofstories','heating_system_id','unitcnt','transaction_month','lot_area_sqft','roomcnt',
    'garage_sqft','garagecarcnt','pool_with_spa_tub_no','poolcnt','fips_LA','taxdelinquencyyear','patio_sqft',
    'taxdelinquencyflag_No','taxdelinquencyflag_Yes'
]

In [ ]:
import matplotlib.pyplot as plt
from sklearn.model_selection import KFold
from sklearn.linear_model import Ridge,Lasso
from sklearn.feature_selection import RFECV
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score,mean_absolute_error,make_scorer

#model=Lasso(alpha=0.2, fit_intercept=True, normalize=True, precompute=False, copy_X=True,
 #                                max_iter=1000, 
  #                               tol=0.0001, warm_start=False, positive=False, random_state=3192, selection='cyclic')

#Ridge(random_state=3192,solver='auto',fit_intercept=True,normalize=True,alpha=0.1)
#LinearRegression(n_jobs=-1,fit_intercept=True, normalize=True, copy_X=True)


rfecv = RFECV(estimator=LinearRegression(n_jobs=-1,fit_intercept=True, normalize=True, copy_X=True), step=2, cv=KFold(4),scoring='neg_mean_absolute_error')
rfecv.fit(X_train, Y_train)

print("Optimal number of features : %d" % rfecv.n_features_)

# Plot number of features VS. cross-validation scores
plt.figure()
plt.xlabel("Number of features selected")

plt.ylabel("Cross validation score (nb of correct classifications)")
plt.plot(range(1, len(rfecv.grid_scores_) + 1), rfecv.grid_scores_)
plt.show()

In [ ]:
rfe_selection = [i for indx,i in enumerate(X.columns) if rfecv.support_[indx] == True]

In [ ]:
#Linear regression with rfe_selection selection
#rfe_selection, tree_selection, xgboost_selection
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score,mean_absolute_error,make_scorer,mean_squared_error

# just to check whether normalized /not normalized data gives better results
parameters = {'fit_intercept':[True], 'normalize':[True,False], 'copy_X':[True]}
scoring = {'MAE':'neg_mean_absolute_error','MSE': make_scorer(mean_squared_error,greater_is_better=False)}

grid1 = GridSearchCV(LinearRegression(n_jobs=-1),param_grid=parameters, scoring=scoring,cv=5,refit='MAE',
                    return_train_score=True,
                    verbose=0,n_jobs=-1,pre_dispatch='n_jobs')

grid1.fit(X_train[rfe_selection], Y_train)
#print("5. grid best_score_",abs(grid.best_score_))
Y_pred = grid1.predict(X_test[rfe_selection])
print("MAE on test data",mean_absolute_error(Y_test,Y_pred))
print("MSE on test data",mean_squared_error(Y_test,Y_pred))
print("R Squared data ",r2_score(Y_test,Y_pred))

In [ ]:
#pca selection
from sklearn.decomposition import PCA
from sklearn.preprocessing import scale
import matplotlib.pyplot as plt
from sklearn.preprocessing import scale
%matplotlib inline
scaled_x = scale(X)
pca = PCA(n_components=None, copy=True, whiten=False, svd_solver='auto', tol=0.0, iterated_power='auto', random_state=None)
pca.fit(scaled_x)

In [ ]:
# The amount of variance that each PC explains
var= pca.explained_variance_ratio_
#Cumulative Variance explains
var1=np.cumsum(np.round(pca.explained_variance_ratio_, decimals=4)*100)
print(var1)
plt.plot(var1)

In [ ]:
#Looking at above plot I'm taking 28 variables

pca = PCA(n_components=28, copy=True, whiten=False, svd_solver='auto', tol=0.0, iterated_power='auto', random_state=None)
pca.fit(scaled_x)

pca1=pca.fit_transform(scaled_x)

pca = PCA(n_components=28, copy=True, whiten=True, svd_solver='auto', tol=0.0, iterated_power='auto', random_state=None)
pca.fit(scaled_x)
pca2=pca.fit_transform(scaled_x)

In [ ]:
pcaX_train, pcaX_test, pcaY_train, pcaY_test = train_test_split(pca1, Y, test_size=0.10, random_state=3192)
pca2X_train, pca2X_test, pca2Y_train, pca2Y_test = train_test_split(pca2, Y, test_size=0.10, random_state=3192)

In [ ]:
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import mean_absolute_error,make_scorer
from sklearn.model_selection import GridSearchCV

# just to check whether normalized /not normalized data gives better results

 # 0.005 for 1200 trees.
param_grid={'n_estimators':[1200],'max_features':[22]}

              
grid13 = GridSearchCV(GradientBoostingRegressor(subsample=0.8,min_samples_leaf=50,min_samples_split=50,max_depth=9,loss='ls',criterion='friedman_mse',learning_rate=0.005,random_state=3192),
                     param_grid=param_grid, cv=5,refit='MAE',
                    return_train_score=True,
                    verbose=2,n_jobs=-1,pre_dispatch='n_jobs')

grid13.fit(pcaX_train, pcaY_train)
print("5. grid best_score_",abs(grid13.best_score_))
print("best params",grid13.best_params_)
print("best score",grid13.best_score_)
Y_pred = grid13.predict(pcaX_test)
print("MAE on test data",mean_absolute_error(pcaY_test,Y_pred))
print("MSE on test data",mean_squared_error(pcaY_test,Y_pred))

In this competition, Zillow is asking you to predict the log-error between their Zestimate and the actual sale price, given all the features of a home. The log error is defined as

logerror=log(Zestimate)âˆ’log(SalePrice)
and it is recorded in the transactions file train.csv. In this competition, you are going to predict the logerror for the months in Fall 2017. Since all the real estate transactions in the U.S. are publicly available, we will close the competition (no longer accepting submissions) before the evaluation period begins.

Train/Test split
You are provided with a full list of real estate properties in three counties (Los Angeles, Orange and Ventura, California) data in 2016.
The train data has all the transactions before October 15, 2016, plus some of the transactions after October 15, 2016.
The test data in the public leaderboard has the rest of the transactions between October 15 and December 31, 2016.
The rest of the test data, which is used for calculating the private leaderboard, is all the properties in October 15, 2017, to December 15, 2017. This period is called the "sales tracking period", during which we will not be taking any submissions.
You are asked to predict 6 time points for all properties: October 2016 (201610), November 2016 (201611), December 2016 (201612), October 2017 (201710), November 2017 (201711), and December 2017 (201712).
Not all the properties are sold in each time period. If a property was not sold in a certain time period, that particular row will be ignored when calculating your score.
If a property is sold multiple times within 31 days, we take the first reasonable value as the ground truth. By "reasonable", we mean if the data seems wrong, we will take the transaction that has a value that makes more sense.
File descriptions
properties_2016.csv - all the properties with their home features for 2016. Note: Some 2017 new properties don't have any data yet except for their parcelid's. Those data points should be populated when properties_2017.csv is available.
properties_2017.csv - all the properties with their home features for 2017 (released on 10/2/2017)
train_2016.csv - the training set with transactions from 1/1/2016 to 12/31/2016
train_2017.csv - the training set with transactions from 1/1/2017 to 9/15/2017 (released on 10/2/2017)
sample_submission.csv - a sample submission file in the correct format